
body{
    margin : 0;
    padding : 0;
    background : url(../images/fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}


footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

footer h1{
    margin : 15px;
    font-size: 12px;
    color: darkgrey;
    text-align: center;
}

/*-------------------    Estos 2 STYLOS son importantes   ---------------------------------------------*/
.login{
    width: 420px;
    height: 420px;
    background: black;
    color: white;  /** Color del texto **/
    top: 50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%); /** el transform sirve para centrar el div  **/
    box-sizing: border-box;
    padding: 70px 30px;
    font-size: 15px;

}

.login .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px; 
    left: calc(50% - 50px); /*aca se resta 50% menos os 50px del top para centrarla en el div */

}

/*----------------------------------------------------------------*/
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login label{
    margin: 0;
    padding: 0;
    display: block;
}


.login input{  
    margin: bottom 20px;
    width: 100%;
    font-size: 15px;
    
}

.login input[type="text"],
.login input[type="password"]{  /* Aca lo que hice fue solo modificar los inputs de text y password */
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;

}

.login input[type="submit"] {  
    border: none;
    outline: none;
    background: rgba(54, 53, 53, 0.918);
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
    color: #fff;

}

.login a{
    text-decoration: none;
    line-height: 20px;
    color: darkgrey; 
    font-size: 15px;
}